* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media (max-width: 75em) { 
    html {
        font-size: 60%; /* Reduce font size slightly */
    }
}

@media (max-width: 61.25em) { /* 980px */
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) { /* 460px */
    html {
        font-size: 55%;
    }
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 1rem;
    color: white;
    background-color: #302F2F;
    transition: background-color 0.5s ease, color 0.5s ease; /* Smooth transition for color changes */
}

section {
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

button {
    border: none;
    padding: 1rem 2rem; /* Larger padding for touch-friendly buttons */
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: skyblue;
    font-size: 1rem; /* Ensure buttons are easily readable */
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    transform: scale(0.95); /* Add feedback for button presses */
}

h1, p{
    margin: 10px;
}

img {
    transition: opacity 0.3s ease-in-out;
}

img.hidden {
    opacity: 0;
}

img.visible {
    opacity: 1;
}
